[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python /workspaces/ThinkFlash_APP/ThinkFlash-BackEnd/src/app.py"
