[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
migrate = "*"
mysql = "*"
python-decouple = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python app.py"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
reset_db = "bash Back/src/docs/reset_migrations.bash"
