.fs-7 {
    font-size: 0.7rem;
}

.decks-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
  
.deck {
    flex: 0 0 auto;
    margin-right: 20px;
}

body::-webkit-scrollbar,
.containerDiv::-webkit-scrollbar {
  height: 8px;
  width: 5px;
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.containerDiv::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #0d6efd;
}

body::-webkit-scrollbar-thumb:hover,
.containerDiv::-webkit-scrollbar-thumb:hover {
  background: #4891ff;
}
