.check{
  color: black;
  margin-right: 5px;
 
}

.fs-7 {
    font-size: 0.7rem;
}

.decks-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
  
.deck {
    flex: 0 0 auto;
    margin-right: 20px;
}



body::-webkit-scrollbar,
.containerDiv::-webkit-scrollbar {
  height: 8px;
  width: 5px;
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.containerDiv::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #0d6efd;
}

body::-webkit-scrollbar-thumb:hover,
.containerDiv::-webkit-scrollbar-thumb:hover {
  background: #4891ff;
}

.h-10 {
  height: 10vh;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90vh;
}

.min-h-100 {
  min-height: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.flip-card {
  perspective: 1000px;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}