.check{
  color: black;
  margin-right: 5px;
 
}

.fs-7 {
    font-size: 0.7rem;
}

.decks-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
  
.deck {
    flex: 0 0 auto;
    margin-right: 20px;
}



body::-webkit-scrollbar,
.containerDiv::-webkit-scrollbar {
  height: 8px;
  width: 5px;
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.containerDiv::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #212529;
}

body::-webkit-scrollbar-thumb:hover,
.containerDiv::-webkit-scrollbar-thumb:hover {
  background: #212529;
}

.h-10 {
  height: 10vh;
}

.h-80 {
  height: 80%;
}

.vh-90 {
  height: 90vh;
}

.min-h-100 {
  min-height: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.flip-card {
  perspective: 1000px;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}


.fade-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
  transition: opacity 500ms, transform 500ms
  
}

.text-light-mode{
  color:black
}

.btn.btn-light-mode {
  background-color: rgba(89, 122, 172, 0.507);
}

.bg-light-mode {
  background-color: rgba(89, 122, 172, 0.507);
}

.body-bg-light-mode {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/966/612/non_2x/abstract-light-silver-background-vector.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.text-dark-mode{
  color:white;
}

.btn.btn-dark-mode {
  background-color: rgba(0, 0, 0, 0.726);
  color:white
}

.bg-dark-mode {
  background-color: rgba(150, 150, 150, 0.4);
  color:rgb(255, 255, 255);
}

.navbar.bg-dark-mode{
  background-color: rgba(110, 110, 110, 0.4);
  color:white
}

.body-bg-dark-mode {
  background-image: url(https://st.depositphotos.com/32687418/54216/i/450/depositphotos_542162292-stock-photo-old-black-background-grunge-texture.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  width: 100%;
}
